@import "variables";

.encabezado {
  background-color: #72737245;
  border-bottom: 2px solid #fd2525;
}

header img {
  width: 25rem;
}

body {
  background-color: $color-fondo;

  a {
    font-size: $menufont;
    color: #ffffff;
    text-decoration: none;

    &:hover {
      font-size: 19px;
      color: $colorh2;
    }

    &:visited {
      color: none;
    }
  }

  .estiloListaMenu {
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 1% 0% 1% 0%;
    margin-bottom: 0%;

    li {
      display: inline;
      padding: 10px;
      margin: 30px;
      position: relative;
    }
  }

  h1 {
    color: $colorh1;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
  }
  h2 {
    color: $colorh2;
  }
  /* Carousel */
  .carouselCss {
    margin-top: 2rem;
  }

  .imgCarousel {
    height: 480px;
    object-fit: cover;
  }
  /* TITULO Noticias en vivo  */

  .noticiasVivo {
    width: 25%;
    height: 30%;
    position: fixed;
    right: 0;
    bottom: 10%;
  }

  /* section Principales noticias */

  .principalesNoticias {
    background-color: #fffef6;
    margin-top: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: auto;

    img {
      background-position: center;
      width: 100%;
    }

    h2 {
      color: #083e98;
      font-family: "Barlow", sans-serif;
      font-style: oblique;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    p {
      color: #01235d;
      font-family: "Barlow", sans-serif;
      font-size: 1.2rem;
      text-align: justify;
      margin: 10px;
      padding: 7px;
    }
  }

  /* Section noticias replay */
  /* video y texto noticias replay en Index */

  .noticiaReplay {
    background-color: #fffef6;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30%;

    iframe {
      background-position: center;
      width: 100%;
    }

    h2 {
      color: $colorh2;
      font-family: "Barlow", sans-serif;
      font-style: oblique;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    p {
      color: #01235d;
      font-family: "Barlow", sans-serif;
      font-size: 1.2rem;
      text-align: justify;
      margin: 10px;
      padding: 7px;
    }
  }

  /* Destacados */

  .destacados {
    height: 17rem;
    width: 20rem;
    margin-top: 2rem;
    background-color: #eee;
    font: 1rem "Fira Sans", sans-serif;
    margin: auto;

    h2 {
      color: $colorh2;
      text-align: center;
    }
  }

  .noticiasDestacadas {
    display: flex;
    justify-content: flex-end;

    img {
      margin-top: 1rem;
      width: 30%;
      height: 30%;
      top: 30%;
      left: 40%;
    }

    p {
      margin: 1rem;
      font-size: 1rem;
      font-style: italic;
    }
  }
  /* Clima Section */

  .climaBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  /* Noticia Política */

  .noticiaPolitica {
    background-color: #fffef6;
    background-position: center;
    width: auto;
    margin-top: 5rem;
    margin-left: 5%;
    margin-right: 5%;

    iframe {
      border: 1px;
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 15%;
      padding-right: 15%;
    }

    h2 {
      color: $colorh2;
      font-family: "Barlow", sans-serif;
      font-style: oblique;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    p {
      color: #01235d;
      font-family: "Barlow", sans-serif;
      font-size: 1.2rem;
      text-align: justify;
      margin: 10px;
      padding: 7px;
    }
  }

  /* CARDS */

  .cardClass {
    color: #990101;
  }

  .boxSize {
    width: 38rem;
    margin-left: auto;
    margin-right: auto;
  }

  .sectionCard {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  /*  FOOTER */

  .footer {
    background-color: #990101;
    text-align: center;
    color: antiquewhite;
  }
}

/* Flex Deportes */

.futbol {
  background-color: #fffef65e;
  margin-top: 5rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: auto;

  img {
    border: 1px #fd2525 solid;
    background-position: center;
    width: 100%;
  }

  h3 {
    color: #01235d;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  p {
    color: #01235d;
    font-family: "Barlow", sans-serif;
    font-size: 1.2rem;
    text-align: justify;
    margin: 10px;
    padding: 7px;
  }
}

/* Tenis  */

.tenis {
  background-color: #fffef65e;
  margin-top: 5rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: auto;

  img {
    background-position: center;
    width: 100%;
  }

  h3 {
    color: #01235d;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  p {
    color: #01235d;
    font-family: "Barlow", sans-serif;
    font-size: 1.2rem;
    text-align: justify;
    margin: 10px;
    padding: 7px;
  }
}
/* Box */

.boxeo {
  background-color: #fffef65e;
  margin-top: 5rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: auto;

  img {
    background-position: center;
    width: 100%;
  }

  h3 {
    color: #01235d;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  p {
    color: #01235d;
    font-family: "Barlow", sans-serif;
    font-size: 1.2rem;
    text-align: justify;
    margin: 10px;
    padding: 7px;
  }
}

.tormenta {
  margin-top: 1rem;
  width: 50%;
  height: 50%;
  top: 30%;
  left: 40%;
}

/* Formulario */

.fondoForm {
    background: url(../img/fondoOk.jpg) no-repeat;
    background-size: cover;
}

/* Media Query Celulares */

@media (max-width: 699px) {
}

.noticiasVivo {
  display: none;
}
